ATSWeb.Silverlight/Service References/CategoryServiceReference/CategoryWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FindByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="entityID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindByIDResult" type="tns:EntityResultOfCategory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EntityResultOfCategory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReturnedEntity" type="tns:Category" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Category">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:float" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseClass" abstract="true" />
      <s:element name="FindAll">
        <s:complexType />
      </s:element>
      <s:element name="FindAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindAllResult" type="tns:EntityListResultOfCategory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EntityListResultOfCategory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReturnedEntities" type="tns:ArrayOfCategory" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCategory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FindByIDSoapIn">
    <wsdl:part name="parameters" element="tns:FindByID" />
  </wsdl:message>
  <wsdl:message name="FindByIDSoapOut">
    <wsdl:part name="parameters" element="tns:FindByIDResponse" />
  </wsdl:message>
  <wsdl:message name="FindAllSoapIn">
    <wsdl:part name="parameters" element="tns:FindAll" />
  </wsdl:message>
  <wsdl:message name="FindAllSoapOut">
    <wsdl:part name="parameters" element="tns:FindAllResponse" />
  </wsdl:message>
  <wsdl:portType name="CategoryWebServiceSoap">
    <wsdl:operation name="FindByID">
      <wsdl:input message="tns:FindByIDSoapIn" />
      <wsdl:output message="tns:FindByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindAll">
      <wsdl:input message="tns:FindAllSoapIn" />
      <wsdl:output message="tns:FindAllSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CategoryWebServiceSoap" type="tns:CategoryWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindByID">
      <soap:operation soapAction="http://tempuri.org/FindByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAll">
      <soap:operation soapAction="http://tempuri.org/FindAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CategoryWebServiceSoap12" type="tns:CategoryWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindByID">
      <soap12:operation soapAction="http://tempuri.org/FindByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAll">
      <soap12:operation soapAction="http://tempuri.org/FindAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CategoryWebService">
    <wsdl:port name="CategoryWebServiceSoap" binding="tns:CategoryWebServiceSoap">
      <soap:address location="http://192.186.0.130/ATSWebServices/Services/Employee/CategoryWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CategoryWebServiceSoap12" binding="tns:CategoryWebServiceSoap12">
      <soap12:address location="http://192.186.0.130/ATSWebServices/Services/Employee/CategoryWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>